html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto-slab", sans-serif;
  color: white;

  p {
    text-decoration: none;
    color: #999999;
  }
}
